<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <% if (errors !== undefined) {%>
        <% for (let x in errors) {%>
            <p><%= errors[x].message %></p>
        <%}%>
    <%}%>
    <form action="/create" method="post">
        <label for="name">Name:<input type="text" name="name"></label>
        <label for="post">Post:<textarea name="post" id="" cols="30" rows="10"></textarea></label>
        <button type="submit">Submit</button>
    </form>
    <% if (posts !== undefined) {%>
        <% for (let post of posts) {%>
            <h2><%= post.name %></h2>
            <p><%= post.post %></p>
                <% for (let comment of post.comments) {%>
                    <h4><%= comment.name %></h4>
                    <p><%= comment.comment %></p>
                <%}%>
                <form action="/create/<%=post._id%>" method="post">
                    <label for="name">Name:<input type="text" name="name"></label>
                    <label for="comment">Comment:<textarea name="comment" id="" cols="30" rows="10"></textarea></label>
                    <button type="submit">Submit</button>
                </form>
            <%}%>
        <%}%>

</body>
</html>